.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    background-image: linear-gradient(to bottom right, #BF092F, #132440, #16476A,#3B9797);
    background-repeat: no-repeat;
    background-image: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    align-items: center;
}

h1 {
    display: block;
    align-self: top;
    text-align: center;
    font-size: 70px;
    color: #ffffff;
    text-shadow: 2px 1px 5px black; 
    font-family: "libre-baskerville-regular", sans-serif;
    /*transition: width 5s, height 4s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;*/
}

/*h1:hover {
    transform: translate(10px, 20px);
}*/

.searchBox {
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    padding: 10px;
    width: 250px;
    border-radius: 100px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    display: block;
}

#pokemonName {
    border-radius: 50px 0px 0px 50px;
    color: rgb(255, 255, 255);
    background:transparent;
    padding: 10px;
    flex: 1;
    border: none;
}

::placeholder {
    color: #cacaca;
}

button {
    border-radius: 0px 50px 50px 0px;
    border: none;
    color: #ffffff;
    padding: 10px;
    background: transparent;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

button:hover {
    background-color: #213448;
    color: #ffffff;
    transform: scale(0.9);
}

.pokemonBox {   
    border-radius: 20px;
    border: 9px solid rgb(234, 234, 234);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    width: 600px;
    height: 400px;
    text-align: center;
    padding: 5px;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas: "header header" "image details";
    align-items: center;
}

#pokemonSprite {
    width: 250px;
    height: auto;
    justify-content: center;
    margin-left: 20px;
}

.pokemonInfo {
    color:#ffffff;
    font-family: "lato-regular","lato","sans serif";
}

#displayName {
    grid-area: header;
    text-align: center;
    font-size: 40px;
    font-style: bold;
}

p {
    font-size: 20px;
}